<%=@game.current_turn.name%> attacked <%=@game.opposite_turn.name%> <br>

<%= @game.player1.name %>: <%= @game.player1.hit_points%> <br>
<%= @game.player2.name %>: <%= @game.player2.hit_points%> <br>

<form action='/play'>
  <input type='submit' value='Next'>
</form>